body { 
    font-family: Arial, sans-serif;
    padding: 15px;
    background-color: #f7f7f7;
    color: #333;
    width: 300px; /* set a wide width */
    height: auto; /* height will adjust automatically & dynamically */
}

header, footer { 
    padding: 15px;
    text-align: center;
    width: 100%;
    margin-left: -15px; /* Offsets body padding */
    margin-right: -15px; /* Offsets body padding */
}

h1 {
    color: #ff5722;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.filter-section {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.filter-section label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-left: 10px;
    cursor: pointer;
}

.description {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.info-section h2 {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

footer {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 20px;
}
